.addTaskModalHeader{
    padding: 10px 20px;  
}

.addTaskModalBody {
    padding: 0 10px 10px 10px;
    max-height: 70vh; 
    overflow-y: scroll; 
    width: 600px;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 14px;
}